.back_guide{
    width: 100vw;
    height: fit-content;
    background-color:#10001C ;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    color: white;
    min-height: 100vh;



}
.carflex1{
    /* background-color: rgb(211, 23, 23); */
    width: 100vw;
    padding: 20px;
    margin-top: 30px;
    display: flex;
   justify-content: center;
    
    
}
.carflex2{
    /* background-color: rgb(202, 144, 144); */
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
   justify-content: start;
}
.carflex3{
    /* background-color: rgb(252, 214, 214); */
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
   justify-content: end;
}
.col-md-4{
    background-color: #10001C;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-body{
    margin-bottom: 80px;
}

@media screen and (max-width: 350px) {
 
 .carflex2{
    padding: 0px;
 }
 .carflex3{
    padding: 0px;
 }
 .carflex1{
    padding: 0px;
 }
 



}


